.about {
    .section__left {

        .section__images {
            height: $msize-302px;
        }
        // end of .section_images 

        .section__related_items {
            .thumbnail {
                width: $wsize-227px;
                height: $wsize-180px;
                margin-right: $wsize-20px;
                margin-bottom: $wsize-20px;

                border-radius: 0;

                position: relative;
    
                &:nth-child(3n) {
                    margin-right: 0;
                }

                a {
                    width: inherit;
                    height: inherit;

                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    opacity: 0;

                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;
                    align-items: center;

                    background-color: rgba($blue, .9);

                    text-decoration: none;
                    color: $white;

                    &:hover {
                        opacity: 1;
                    }

                    h3 {
                        margin: 0 0 $wsize-5px 0;
                        font-size: $font-size-16px;
                        line-height: $line-height-26px;
                        text-transform: uppercase;
                        font-weight: 500;
                    }

                    p {
                        font-size: $font-size-13px;
                        line-height: $line-height-26px;

                        color: $white;
                    }
                }
            } 
            // end of .thumbnail

            .you {
                display: flex;
                justify-content: center;
                align-items: center;

                span {
                    padding: $wsize-20px;
                    border-radius: $wsize-10px;

                    cursor: pointer;

                    background-color: $white;

                    font-size: $font-size-24px;
                    line-height: $line-height-26px;
                    font-weight: 100;
                    text-transform: uppercase;
                }
            }
        }
        // end of  .section__related_items        
    }
    // end of .section__left

    .section__right {

        .section__skills {

            line-height: $line-height-26px;

            .progress__item_captions {
                margin-bottom: $wsize-10px;
            }
            // end of .progress__item_captions

            .skill__name {
                font-size: $font-size-15px;             
                text-transform: capitalize;
                color: $font-grey;
            }
            // end of .skill__name

            .skill__knowledge {
                font-size: $font-size-14px;
                color: $black;
            }
            // end of .skill__knowledge

            .progress__item_bar {
                width: 100%;
                height: 1.77vmax; // 34px
                margin-bottom: $wsize-20px;

                border: 1px solid rgba($background-grey, .7);

                .skill__progress {
                    height: 100%;

                    background-color: rgba($background-grey, .7);
                }
                // end of .skill__progress
            }
            // end of .progress__item_bar

        }
        // end of .section__skills

        .section__testimonials {
            margin-bottom: $wsize-30px;

            .testimonial__author {
                background-color: $blue;

                &_photo {
                    width: $wsize-80px;
                    height: $wsize-80px;

                    border: 1px solid rgba($background-grey, .7);

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                // end of .testimonial__author_photo

                &_info {
                    padding-left: $wsize-24px;

                    font-size: $font-size-15px;
                    line-height: 1;
                    font-style: italic;
                    color: $white;
                }
                // end of .testimonial__author_info
            }
            // end of .testimonial__author

            .testimonial__content {
                width: 100%;
                padding: $wsize-25px $wsize-30px;

                border: 1px solid rgba($background-grey, .7);

                font-size: $font-size-18px;
                line-height: $line-height-30px;
                color: $font-light-grey;
            }
            // end of .testimonial__content
        }
        // end of .section__testimonials
    }
    // end of .section__right
}
// end of .about