.contacts {
    position: relative;

    background-image: url('../images/backgrounds/contacts_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .container {
        width: 50%;
        margin: 0;
        padding: $wsize-30px;  

        background-color: transparent;
        
        .contacts_box {
            padding: $wsize-30px;  

            position: relative;
            z-index: 2;

            background-color: $white;             
        }
        
        h2 {
            text-transform: none;
        }

        p {
            margin-bottom: $wsize-10px;

            font-size: $font-size-18px;
            line-height: $line-height-30px;
        }
    }
    // end of .container

    .google_map {
        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }
}
// end of .contacts