body {

    font-family: 'Roboto', 'Verdana', sans-serif;
    font-size: 0.94vmax; // 18px
    font-weight: 300; // light
    line-height: 1.67vmax; // 32px
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    padding-left: 15.63vw; // is equal to left navigation panel's width
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.info {
    width: 4.68vw;
    height: 4.68vw;
    padding: 1.2vw;

    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;

    background-color: $blue;

    cursor: pointer;

    svg {
        fill: $white;
    }
}