body {
    background-color: $background-grey;

    font-family: 'Roboto', 'Verdana', sans-serif;
    font-size: 0.94vmax; // 18px
    font-weight: 300; // light
    line-height: 1.67vmax; // 32px
}

.section {
    width: 100%;
    min-height: 100vh;
    padding-left: 15.63vw; // is equal to left navigation panel's width

    &__description {
        width: 100%;
        margin-bottom: 1.56vw;
        padding-bottom: 2.78vh;

        border-bottom: 1px solid rgba($background-grey, .1);

        p {
            margin-bottom: 2.39vw;

            &:last-child {
                margin-bottom: 0;
            }

            font-size: 0.94vmax; // 18px
            line-height: 1.56vmax; // 30px
            color: $font-light-grey;
        }
    }
    // end of .section__description
}
// end of .section

.container {
    width: calc( 100% - 3.12vw );
    margin: 1.56vw;
    padding: 0;

    background-color: $white;

    .section__left,
    .section__right {
        width: 50%;
        padding: 1.56vw;
    }

    .section__left {
        border-right: 1px solid rgba($background-grey, .1);

        .section__images {
            width: 100%;
            height: 29.16vmax; // 560px
            overflow: hidden;
            margin-bottom: 1.56vw;
    
            img {
                width: 100%;
                height: auto;
            }
        }
        // end of .section__images 
        
        .section__related_items {
            width: 100%;
    
            .thumbnails {
                width: 100%;
            }
            // end of .thumbnails
    
            .thumbnail {
                width: 12.5vw; // 240px
                height: 9.48vw; // 182px
                margin: 0;
                padding: 0;
    
                background-color: $background-light-grey;
                border: none;
    
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            // end of .thumbnail
        }
        // end of .section__related_items
    }
    // end of .section__left

    .section__right {

        .marked__item {
            font-size: 0.73vmax;
            line-height: 1.56vmax;
            color: $font-light-grey;
            text-transform: capitalize;

            svg {
                width: 0.68vw;
                height: auto;
                margin-right: 0.42vw;

                fill: rgba($font-grey, 0.7);
            }
        }
        // end of .marked__item
    }

    h2 {
        margin: 0 0 1.25vw 0;

        font-size: 1.25vmax; // 24px;
        font-weight: 400;
        line-height: 1.35vmax; // 26px
        text-transform: capitalize;
        color: $black;
    }
}
// end of .container

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

#info {
    width: 4.68vw;
    height: 4.68vw;
    padding: 1.2vw;

    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;

    background-color: rgba($blue, 0.9);

    cursor: pointer;

    svg {
        fill: $white;
    }

    &__box {
        padding: 1.04vw 3.85vw 1.04vw 1.04vw;

        position: fixed;
        top: 4.68vw;
        right: 0;
        z-index: 5;

        background-color: rgba($black, .9);
        
        font-size: 0.83vmax;
        line-height: 1;
        color: $white;

        transform: translateX(100%);
        transition: all .35s;

        li {
            margin-bottom: 1.04vw;

            &:last-child {
                margin-bottom: 0;
            }

            a {
                text-decoration: none;
                color: $white;
            }
        }

        svg {
            height: 0.88vw;

            margin-right: 0.52vw;

            fill: $white;
        }
    }
    // end of #info__box

    &__box.open {
        transform: translateX(0%);
        transition: all .35s;
    }
    // end of #info__box.open
}
// end of #info
