.work_item {
    
    .section__right {
    
        
    
        .project_gallery {
            margin-bottom: $wsize-20px;
    
            &__thumbnails {
                width: 100%;
    
            }
            // end of .project_gallery__thumbnails
    
            &__thumbnail {
                width: $wsize-77px;
                height: $wsize-77px;
                margin-right: $wsize-11_5px;
                margin-bottom: $wsize-11_5px;
    
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            // end of .project_gallery__thumbnail
        }
        // end of .project_gallery
    }
    // end of .work__right
}
// end of .work_item