$font-size-12px: 0.63vmax;
$font-size-13px: 0.67vmax; 
$font-size-14px: 0.73vmax; 
$font-size-15px: 0.78vmax;
$font-size-16px: 0.83vmax;
$font-size-18px: 0.94vmax;
$font-size-19px: 0.99vmax; 
$font-size-21px: 1.09vmax;
$font-size-24px: 1.25vmax; 

$line-height-20px: 1.04vmax;
$line-height-22px: 1.15vmax; 
$line-height-24px: 1.25vmax;
$line-height-26px: 1.35vmax; 
$line-height-30px: 1.56vmax; 
$line-height-32px: 1.67vmax; 