// from width
$wsize-5px: 0.26vw;
$wsize-8px: 0.42vw;
$wsize-10px: 0.52vw;
$wsize-11_5px: 0.6vw;
$wsize-13px: 0.68vw;
$wsize-14px: 0.73vw;
$wsize-15px: 0.78vw;
$wsize-16px: 0.83vw;
$wsize-18px: 0.94vw;
$wsize-20px: 1.04vw;
$wsize-24px: 1.25vw;
$wsize-25px: 1.3vw;
$wsize-30px: 1.56vw;
$wsize-32px: 1.67vw;
$wsize-35px: 1.82vw;
$wsize-40px: 2.05vw;
$wsize-46px: 2.39vw;
$wsize-60px: 3.12vw;
$wsize-74px: 3.85vw;
$wsize-77px: 4vw;
$wsize-80px: 4.16vw;
$wsize-90px: 4.68vw;
$wsize-117px: 6.09vw;
$wsize-128px: 6.67vw;
$wsize-141px: 7.34vw;
$wsize-180px: 9.38vw;
$wsize-182px: 9.48vw;
$wsize-184px: 9.59vw;
$wsize-227px: 11.52vw; 
$wsize-230px: 12vw;
$wsize-240px: 12.5vw;
$wsize-262px: 13.65vw;
$wsize-294px: 15.31vw;
$wsize-300px: 15.63vw;
$wsize-316px: 15.46vw;

// from height
$hsize-22px: 2.03vh;
$hsize-30px: 2.78vh;
$hsize-50px: 4.63vh; 
$hsize-125px: 11.57vh;

// from max(width, height)
$msize-8px: 0.41vmax;
$msize-10px: 0.52vmax;
$msize-12px: 0.62vmax; 
$msize-13px: 0.68vmax;
$msize-17px: 0.89vmax;
$msize-24px: 1.25vmax;
$msize-25px: 1.3vmax;
$msize-62px: 3.23vmax;
$msize-302px: 15.73vmax; 
$msize-560px: 29.16vmax;